<%- include("header") -%>
    <div class = "banner" > 
      <div class="app-text"> 
          <h1> D-CLIC <br> Venez coder avec nous </h1>
          <p>Apprendre à coder : du plaisir pour tout le monde !  <br> Connaître le codage, ce n'est pas seulement <br> satisfaire notre curiosité.  <br> Il est probable que l'avenir de l'humanité en dépend.</p>
          <div class="play-btn"> 
            <div class="play-btn-inner">             
            </div>
          </div>
      </div>
      <div class="app-picture-index" >
        <img src="/images/photo.jpg">
      </div>
      <div class="note_container">
            <% for (let i = 0; i < locals.res1.length; i++) { %>    
              <% if(locals.res1!=[]) {%> 
              <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                      <h2>Nom :<%= locals.res1[i].firstname %></h2>
                      <h2>Prenom :<%= locals.res1[i].lastname %></h2>
                      <h3>Note :<%= locals.res1[i].note %></h3>
                      <h3>Formation :<%=locals.res1[i].formation %></h3>
									    <p>Avis :<%=locals.res1[i].avis %></p>
                    </div>
                    <div class="flip-box-back">
                      <h2>Suite</h2>
                    </div>
                </div>
            </div>
            <% } %> 
            <% } %> 
      </div>
    </div>
  </div>
</body>
</html>
