<%- include("header") -%>

			<div class = "banner" > 

				<div class="app-text"> 
						<h2> D-CLIC <br> Venez avec nous pour offir une bonne optimisation, satisfaction et comprendre l'attente de l'utilisateur. </h2>
						<p>Ici c'est l’interaction entre un utilisateur et  <br> les éléments de conception d’une application</p>
						<div class="play-btn"> 
							<div class="play-btn-inner"> 
								
							</div>
						</div>
				</div>

				<div class="app-picture-uxui" >
					<img src="/images/image_ux_ui.jpg">

				</div>
				<div class="note_container">
					<% var counter=0; %>
					<% for (let i = 0; i < locals.res1.length; i++) { %>			
					  	<%
							if(locals.res1[i].formation=="uxui" && counter <3){ 
								counter++ ;
								if(counter==4)counter=0;
						%>  
						  <div class="flip-box">
							  <div class="flip-box-inner">
								  <div class="flip-box-front">
									<h2>Nom :<%= locals.res1[i].firstname %></h2>
									<h2>Prenom :<%= locals.res1[i].lastname %></h2>
									<h3>Note :<%= locals.res1[i].note %></h3>
									<h3>Formation :<%=locals.res1[i].formation %></h3>
									<p>Avis :<%=locals.res1[i].avis %></p>
								  </div>
								  <div class="flip-box-back">
									<h2>Suite</h2>
								  </div>
							  </div>
						  </div>
						  <% } %> 
					  <% } %> 
			  </div>

			</div>
		</div>

	</body>

</html>
